* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: 'Inter', sans-serif;
}

#app {
    grid-template-columns: 29.6rem max-content max-content;
    grid-template-rows: max-content;
    column-gap: 3.2rem;
    row-gap: 5.9rem;

    place-content: center;

    width: fit-content;
    min-width: 100vw;
    height: fit-content;
    min-height: 100vh;

    background-color: #292738;
}

.grid {
    display: grid;
}

.box {
    padding: 2.9rem 4.8rem;

    background: #363447;
    box-shadow: .3rem .4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;

    color: white;
    line-height: 160%;
}

.box:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.nps {
    gap: 3.2rem
}

.top {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.bottom {
    display: flex;
    gap: 2rem;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    
    margin-top: auto;
}

.bottom .item {
    display: flex;
    gap: 1rem;

    align-items: center;
}

.bottom .item span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bottom .item span:nth-child(1)::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    background: #4a4556;
    border-radius: 100%;
}

.target .bottom .item:nth-of-type(2) span:nth-of-type(1)::before {
    background: linear-gradient(0, white, red);
}

.nps .middle {
    height: 19.7rem;
    place-content: center;
    justify-items: center;

    gap: 1.6rem;
    color: #81fbb8;
}

.nps .bottom {
    gap: 1rem
}