@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --light-purple: #c2b7f4;
    --highlight-purple: #e7e6fb
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

main {
    background: url(../images/background.jpg) no-repeat center/cover;
    min-height: 100vh;

    display: grid;
    place-content: center;

    padding: 6.4rem;
    gap: 2.4rem;
}

section {
    background: #6d67d0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}

.temperature-now {
    background: url(../images/bg-temp-now.png) center/cover;

    position: relative;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before {
    content: '';
    width: 17.6rem;
    height: 17.6rem;

    background: url('../images/svg/clouds.svg');

    position: absolute;
    top: -5.6rem;
    left: -5.6rem;
}

.temperature-now .location {
    justify-self: end;
    padding: 3.2rem 3.2rem 0;

    display: flex;
    align-items: center;
    gap: .4rem;
}

.temperature-now .location strong {
    font-size: 1.4rem;
    color: var(--light-purple)
}

.temperature-now .temp {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin: 6rem;

    font-weight: 700;
}

.temperature-now .temp .number {
    text-align: center;
    color: white;
    font-size: 8.8rem;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.temperature-now .temp .number .max-min {
    font-size: 2rem;
}

.temperature-now .temp .number .max-min span {
    color: var(--light-purple);
}

.temperature-now .temp .celsius {
    font-size: 2.4rem;
    color: #dad8f7;

    margin-top: 1.5rem;
}

.temperature-now .statistics {
    display: flex;
    gap: .8rem;
    padding: 1.2rem;
}

.temperature-now .statistics .stats {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    flex: 1;
    padding: 1.2rem 1.6rem;
    background: rgba(102, 96, 200, 0.6);
    border-radius: .6rem;
}

.temperature-now .statistics .info {
    color: var(--highlight-purple);

}

.temperature-now .statistics .info p,
.temperature-now .statistics .info h5 span {
    font-size: 1.2rem;
}

.temperature-now .statistics .info h5 {
    display: flex;
    font-size: 1.8rem;
    align-items: baseline;
    gap: 0.4rem
}

.air-quality {
    display: grid;

    font-weight: 700;
    text-align: center;
}

.air-quality .quality {
    margin-top: 3.2rem;
    font-size: 1.8rem;

}

.air-quality > .number {
    margin-top: 0.4rem;
    font-size: 4rem;
    color: var(--highlight-purple);
}

.good {
    color: #87ebcd
}

h2.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    margin-top: 3.2rem;
    font-size: 1.6rem;

    color: var(--highlight-purple);
}

.air-quality .info {
    display: flex;
    align-items: center;

    padding: 0 1.6rem 1.6rem;
}

.air-quality .info .number {
    flex: 1;
}

.air-quality .info p {
    font-size: 1.4rem;
}

.air-quality .info small {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--highlight-purple);
}

.sun-time .sun-chart-wrapper {
    margin-top: 4rem;
    height: 11rem;
}

.sun-time .sun-chart-wrapper .sun-chart {
    --pos-x: 100;
    margin: auto;
    width: 21.6rem;
    height: 21.6rem;

    position: relative;
}

.sun-time .sun-chart-wrapper .sun-chart::before {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background: #f6c833;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    margin: -0.6rem;
    transform: rotate(calc( 1deg * ( ( ( 100 - var(--pos-x) ) / -100 ) * 180 ) )) translate(10.6rem);
}

.sun-time .sun-chart-wrapper .sun-chart .chart {
    width: 21.6rem;
    height: 10.8rem;
    overflow: hidden;
}

.sun-time .sun-chart-wrapper .sun-chart .chart img {
    position: absolute;
    top: 0;
    left: 0;
}

.sun-time .sun-chart-wrapper .sun-chart .chart::before {
    content: '';
    width: 21.6rem;
    height: 21.6rem;

    display: block; 
    border: none;
    border-radius: 50%;
    background: linear-gradient(
        rgba(251, 219, 96, 0.2) 0%,
        rgba(251, 219, 96, 0) 101.89%
    );

    --mask: linear-gradient(0deg, white 50%, transparent 0%);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    rotate: calc( 1.8deg * var(--pos-x) );
}

.sun-time .sun-chart-wrapper .sun-chart time.now {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);

    font-weight: 700;
    color: white;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem auto 0;
    padding: 0 1.6rem 1.6rem;
    max-width: 27.6rem;

    font-size: 1.2rem;
    color: white;
}

.week-weather {
    padding: 4rem;
    display: flex;
    gap: 1.2rem
}

.week-weather .day {
    flex: 1;
    display: grid;
    justify-items: center;
    gap: 1.6rem;
}

.week-weather .day h4.title {
    color: #dad8f7;
    font-size: 1.4rem;
}


.week-weather .day .max-min {
    font-weight: 700;
    color: white;
}

.week-weather .day .max-min span {
    color: var(--light-purple);
}

@media(min-width: 1200px) {
    main {
        grid-template-columns: 48rem 27.7rem 27.7rem;
        grid-template-rows: 24.4rem 21.2rem;
    }

    section.temperature-now {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    section.air-quality,
    section.sun-time {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    section.week-weather {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}